<div class="container">
  <h3 style="text-align:center;">Education Details</h3>
  <hr class="my-auto" />
  <h5><strong>B.Tech</strong></h5>
  <h6>College - Chameli Devi Group of Instituions</h6>
  <p>Brance - Computer Science and Engineering</p>
  <p>Percentage - <em>77.7%</em>, Duration - 2017-2021</p>

  <hr />
  <br />
  <h5><strong>12th</strong></h5>
  <h6>School - Tagore Public School</h6>
  <p>Percentage - <em>73.2%</em>, Duration - 2016-2017</p>

  <hr />
  <br />
  <h5><strong>10th</strong></h5>
  <h6>School - Sanmati Higher Secondary School</h6>
  <p>Percentage - <em>62%</em>, Duration - 2014-2015</p>
</div>
