<div class="jumbotron bg-light main">
  <div class="container">
    <div class="row maindiv">
      <div class="col-lg-6 col-sm-2 col-md-2 picture">
        <img
          src="https://www.static-contents.youth4work.com/y4w/Images/UserThumbImage/160_160/20200522094033.png?v=20200522094033"
          alt="abc"
        />
      </div>
      <div class="col-lg-6 col-sm-2 col-md-2 about">
        <h1 class="display-4">Sarthak Kashyap</h1>
        <p>
          Interested in the role of a Software Engineer where I can contribute
          my analytical skills and knowledge completed my degree in Software
          Engineering. Looking for a dynamic and progressive company where my
          skills are utilized in the maximum way possible.
        </p>
      </div>
    </div>

    <hr class="my-4" />
    <p>Contact Details:</p>
    <p>Number : 9826992097</p>
    <p>Email : kashyapsarthak177@gmail.com</p>
    <p>Location : Indore,India</p>
    <p>LinkdeIn : https://www.linkedin.com/in/sarthak-kashyap-4b536a193</p>
    <hr class="my-4" />
  </div>
</div>
