<div class="WholeDiv">
  <div class="jumbotron main">
    <div class="container">
      <div class="row maindiv">
        <div class="col-lg-6 col-sm-2 col-md-2 picture">
          <img
            src="https://www.static-contents.youth4work.com/y4w/Images/UserThumbImage/160_160/20200522094033.png?v=20200522094033"
            alt="abc"
          />
        </div>
        <div class="col-lg-6 col-sm-4 col-md-4 about">
          <h1 class="display-4" style="text-decoration:underline;">
            {{ name | uppercase }}
            <p class="designation">
              ( <span> {{ designation }}</span
              >)
            </p>
          </h1>
          <label for="designation" value="Enter your designation here :- "
            >Enter your designation here</label
          >
          <input
            placeholder="Software Developer"
            class="input-box"
            type="text"
            value="hello "
            [(ngModel)]="designation"
          />
          <br /><br />

          <p>
            Interested in the role of a Software Engineer where I can contribute
            my analytical skills and knowledge completed my degree in Software
            Engineering. Looking for a dynamic and progressive company where my
            skills are utilized in the maximum way possible.
          </p>
        </div>
      </div>
      <div class="contactDetails"></div>
      <hr class="my-4" />
      <p>Contact Details:</p>
      <button class="show-details" (click)="show = !show">
        {{ show ? 'Hide' : 'Show' }}
        Contact Details
      </button>
      <br /><br />
      <div *ngIf="show">
        <p>Number : {{ number | numberPipe: location }}</p>
        <p>Email : {{ email }}</p>
        <p>Location : {{ location }}</p>
        <p>DOB : {{ DOB | date }}</p>
        <p>LinkdeIn : https://www.linkedin.com/in/sarthak-kashyap-4b536a193</p>
      </div>

      <hr class="my-4" />
    </div>
  </div>
</div>
