<div class="jumbotron container bg-light" style="width:100%">
  <h3 style="text-align:center;">WORK EXPERIENCE</h3>
  <hr />
  <h5>Software Developer</h5>
  <h6>Blucursor Infotech</h6>
  <p>04/20201 - 09/2021,Indore India</p>
  <ul>
    <li>Handle whole Back-end and manages database with mongo db</li>
    <li>Created APi's with node js and express js</li>
    <li>Implement push notiﬁcation to send notiﬁcatios</li>
    <li>Added some batch jobs to send email services for any speciﬁc tasks</li>
  </ul>
  <h5>Associate Software Developer</h5>
  <h6>Linkites Infotech</h6>
  <ul>
    <li>Handle whole Back-end and manages database with mongo db</li>
    <li>Created APi's with node js and express js</li>
    <li>Make authentications and middlewares</li>
    <li>Added send email services for any specific tasks</li>
  </ul>
  <hr />
  <br />
  <br />
  <h3 style="text-align:center;">Skills Table</h3>
  <hr style="widh:40%" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Skills</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>JavaScript</td>
        <td>⭐⭐⭐⭐</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Node js</td>
        <td>⭐⭐⭐</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>React</td>
        <td>⭐⭐</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Angular</td>
        <td>⭐⭐</td>
      </tr>
    </tbody>
  </table>
  <br /><br />
</div>
