<div class="jumbotron mainColor">
  <div class="container">
    <h3 style="text-align:center;">Project Details</h3>
    <h5>HRMS</h5>
    <ul>
      <li>It's a web app completely designed on React js and node js</li>
      <li>
        This website in for employees of company in which they demand for any
        tickets for HR, Raise leave application , requirement of any assets like
        laptop, mouse or anything
      </li>
      <li>
        I manages whole back-end with node js and express js and database with
      </li>
      <li>
        mongo DB It also involves push notification, email services, batch jobs,
        JWt and many more
      </li>
      <li>It will show all the information of employees within company</li>
    </ul>
    <h5>Kids App (04/2021 - 07/2021)</h5>
    <ul>
      <li>
        It' a mobile application for children where children can upload videos,
        make a challenges
      </li>
      <li>
        view there profile I manged whole back-end with node js and nest js and
        database with mongodb
      </li>
      <li>This project involves batch jobs, restful API's, email services</li>
      <li>
        Image upload with AWS server and translated text in header to show in
        other languages also
      </li>
    </ul>
    <h5>Personal Webpage (11/2020 - 12/2020)</h5>
    <ul>
      <li>
        It's a personal webpage of a model which shows all the information of
      </li>
      <li>
        that model It's designed in angular 10 with the help of HTML, CSS,
        Bootstrap
      </li>
      <li>
        It's having a subscription page where restful API's are integrated
      </li>
    </ul>
    <hr />
    <br /><br />
  </div>
</div>
